.title {
    background-color: #080808;
    color: white;
    border-radius: 15px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    font-weight: 500;
    box-shadow: 0px 15px 20px rgba(23, 88, 39, 0.4);
}

.formContainer {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    background-color: rgba(16, 54, 26, 0.4);
    width: 26rem;
    margin-left: 34%;
    height: auto;    
    border-radius: 10px;
    box-shadow: 0px 15px 20px rgba(23, 88, 39, 0.4);
}

.formField {
    margin: 10px;
    position: relative;
    display: flex;
  }
  
.formField input {
    padding: 20px 15px 10px 15px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    color: #333;
    font-size: 16px;
    font-weight: 550;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 0 5px transparent;
}

.formField input:hover,
.formField input:focus {
    box-shadow: 0 0 0 2px #333;
}

.formField span {
    position: absolute;
    left: 0;
    top: 0;
    padding: 13px 15px;
    color: #333;
    font-size: 16px;
    font-weight: 600;
    text-shadow: -1px -1px 0 #f1f1f1, 1px -1px 0 #f1f1f1, -1px 1px 0 #f1f1f1,
        1px 1px 0 #f1f1f1;
    transition: 0.3s ease-in-out;
    pointer-events: none;
}

.formField input:focus + span,
.formField input:valid + span {
    transform: translateY(-12px) translateX(-5px) scale(0.95);
    transition: 0.3s ease-in-out;
}

.cabin-body {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

button {
    margin-left: 10px;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #cacaca;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
  
button:hover {
background-color: #080808;
box-shadow: 0px 15px 20px rgba(23, 88, 39, 0.4);
color: #fff;
transform: translateY(-7px);
}

button:active {
transform: translateY(-1px);
}

#dialog-box {
height: 12rem;
width: 20rem;
border-radius: 15px;
box-shadow: rgba(23, 88, 39, 0.4) 0px 5px 10px 0px inset;
}

#dialog-box button {
position: absolute;
bottom: 0;
margin-bottom: 10px;
margin-left: 6rem;
}

.ticket{
padding: 1rem;
display: flex;
flex-direction: column;
}

.ticket ul {
margin-top: 2.5rem;
}

#modalTitle {
font-weight: 800;
font-size: 20px;
position: absolute;
left: 20%;
margin-bottom: 20px;
}

