body {
    background-color: #080808;
}
.title {
    background-color: #080808;
}
.title {
    background-color: #3cca6b;
    color: white;
    border-radius: 15px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    font-weight: 500;
    box-shadow: 0px 15px 20px rgba(23, 88, 39, 0.4);
}


.formContainer {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 10px;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    background-color: rgba(58, 167, 87, 0.4);
    width: 26rem;
    height: fit-content;    
    border-radius: 10px;
    box-shadow: 0px 15px 20px rgba(23, 88, 39, 0.4);
}

.formField {
    margin: 10px;
    position: relative;
    display: flex;
  }
  
.formField input {
    padding: 20px 15px 10px 15px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #333;
    font-size: 16px;
    font-weight: 550;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 0 5px transparent;
}

.formField input:hover,
.formField input:focus {
    box-shadow: 0 0 0 2px #333;
}

.formField span {
    position: absolute;
    left: 0;
    top: 0;
    padding: 13px 15px;
    color: #333;
    font-size: 16px;
    font-weight: 600;
    text-shadow: -1px -1px 0 #f1f1f1, 1px -1px 0 #f1f1f1, -1px 1px 0 #f1f1f1,
        1px 1px 0 #f1f1f1;
    transition: 0.3s ease-in-out;
    pointer-events: none;
}

.formField input:focus + span,
.formField input:valid + span {
    transform: translateY(-12px) translateX(-5px) scale(0.95);
    transition: 0.3s ease-in-out;
}

.cabin-body {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

button {
    margin-left: 10px;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color: #3f8148;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
  
button:hover {
    background-color: #080808;
    box-shadow: 0px 15px 20px rgba(23, 88, 39, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

button:active {
    transform: translateY(-1px);    
}

dialog {
    z-index: 2;
    height: 12rem;
    width: 20rem;
    border-radius: 15px;
    box-shadow: rgba(23, 88, 39, 0.4) 0px 5px 10px 0px inset;
}

#dialog-box button {
position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    margin-left: 6rem;
}

.ticket{
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.ticket ul {
    margin-top: 2.5rem;     
}

#modalTitle {
    font-weight: 800;
    font-size: 20px;
    position: absolute;
    left: 20%;
    margin-bottom: 20px;
}

/* teste */
#grid {
    z-index: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    background-color: #333;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 20px;
  }
  
  .card1 {
    z-index: 1;
    overflow: visible;
    margin: 10px;
    width: 190px;
    height: 254px;
    }

    .content {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms;
    box-shadow: 0px 0px 10px 1px #000000ee;
    border-radius: 10px;
    }

    .back {
    background-color: #151515;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    }

    .back {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: all .3s;
    }

    .back::before {
    position: absolute;
    content: ' ';
    display: block;
    width: 160px;
    height: 160%;
    background: linear-gradient(90deg, #00ff75 0%, #3700ff 100%);
    animation: rotacao360 5000ms infinite linear;
    }

    .back-content {
    position: absolute;
    width: 98%;
    height: 98%;
    background-color: #151515;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    }

    .card1:hover .content {
        box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
    }
    .back:hover::before {
        background: transparent;
        animation: none;
    }
    .back:hover {
        background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
        transform: scale(1.05);
        border-radius: 5px;
    }


    @keyframes rotacao360 {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
    }

#contador {
    position: relative;
    background-color: #fff;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border-radius: 10px;
    margin-left: 7px;
}